In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/daily-min-temperatures.csv", header=0, index_col=0, parse_dates=True, squeeze=True)
df.head()

Date
1981-01-01    20.7
1981-01-02    17.9
1981-01-03    18.8
1981-01-04    14.6
1981-01-05    15.8
Name: Temp, dtype: float64

In [3]:
# Date Time Features
dataframe = pd.DataFrame()
dataframe['year'] = [df.index[i].year for i in range(len(df))]
dataframe['month'] = [df.index[i].month for i in range(len(df))]
dataframe['day'] = [df.index[i].day for i in range(len(df))]
dataframe['temperature'] = [df[i] for i in range(len(df))]
dataframe.head()

   year  month  day  temperature
0  1981      1    1         20.7
1  1981      1    2         17.9
2  1981      1    3         18.8
3  1981      1    4         14.6
4  1981      1    5         15.8

In [4]:
# Lag Features
temps = pd.DataFrame(df.values)
dataframe = pd.concat([temps.shift(2), temps.shift(1), temps], axis=1)
dataframe.columns = ['t-1', 't', 't+1']
dataframe.head()

    t-1     t   t+1
0   NaN   NaN  20.7
1   NaN  20.7  17.9
2  20.7  17.9  18.8
3  17.9  18.8  14.6
4  18.8  14.6  15.8

In [5]:
# Rolling-Window statistics
temps = pd.DataFrame(df.values)
shifted = temps.shift(1)
window = shifted.rolling(window=2)
means = window.mean()
dataframe = pd.concat([means, temps], axis=1)
dataframe.columns = ['mean(t-1,t)', 't+1']
dataframe.head()

   mean(t-1,t)   t+1
0          NaN  20.7
1          NaN  17.9
2        19.30  18.8
3        18.35  14.6
4        16.70  15.8

In [6]:
# Expanding window statistics
temps = pd.DataFrame(df.values)
window = temps.expanding()
dataframe = pd.concat([window.min(), window.mean(), window.max(), temps.shift(-1)], axis=1)
dataframe.columns = ['min', 'mean', 'max', 't+1']
dataframe.head()

    min       mean   max   t+1
0  20.7  20.700000  20.7  17.9
1  17.9  19.300000  20.7  18.8
2  17.9  19.133333  20.7  14.6
3  14.6  18.000000  20.7  15.8
4  14.6  17.560000  20.7  15.8